.section__article {
    background-color: rgb(250, 248, 248);
    line-height: 1.75em;
    flex-grow: 2;
}

h2{
    border-bottom: 1px solid rgb(72, 72, 73);
    margin-left: 10px;
    color: rgba(11, 11, 12, 0.849);
    margin-right: 5px;
}

h3 {
    margin-left: 10px;
}

h4 {
    text-align: center;
    color: rgb(250, 235, 215);
    grid-column-start: span 3;
}

p {
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
}

strong , span{
    text-transform: lowercase;
    color: rgba(7, 7, 7, 0.993);
    font-weight: 200;
}

