.header {
    display: flex;
    color: rgb(247, 246, 246);
    min-height: 40vh;
    background-color: black;
}

.nav {
    background: linear-gradient(rgb(248, 245, 245),rgb(13, 14, 13));
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 2px;
}

a {
    color: rgb(15, 15, 15);
    text-decoration: none;
    padding: 0px;
    transition: padding 1s, background 1s, border-radius 1s, color 2s;
}

a:link {
    color: rgb(245, 248, 250);
}

a:visited {
    color: rgb(245, 244, 240);
}

a:hover {
    background: rgba(250, 246, 246, 0.151);
    padding: 2px;
    border-radius: 20px;
    color: rgb(47, 0, 255);
    text-decoration: underline;
}

.principal {
    display: flex;
    background-color: rgb(255, 253, 253);
    margin: 50px;
}
