
.section {
    display: flex;
    margin: 50px;
}

.grid{
    display: grid;
    background-color: rgb(5, 5, 5);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    margin: 50px;
}

.grid__items{
    background: linear-gradient(rgb(236, 231, 231),rgb(248, 244, 244));
    border: 1px solid;
}


