
section {
    margin: 50px;
    display: flex;
    background-color: rgb(15, 15, 15);
}

.grid{
    display: grid;
    background-color: rgb(5, 5, 5);
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    margin: 50px;
}

.grid__items{
    background: linear-gradient(rgb(236, 231, 231),rgb(248, 244, 244));
    border: 1px solid;
}

.peliculas{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border: 1px solid black;
    margin:50px;
}

.peliculas__ova{
    background-color: aqua;
    border: 1px solid rgb(241, 12, 12);
}

