@import "./header.css";
@import "./section.css";
@import "./article.css";
@import "./footer.css";

* {
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
}

body {

    background-color: rgb(243, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: clamp(1rem, 2vw, 2rem);
}

@media (max-width:800px) {

    .header{
        min-height: 20dvh;
        width: 100%;
     }

    .nav {
        margin: 0;
        min-height: 2dvh;
    }

    .section {
        margin: 0;
        margin-top: 4px;
    }

    .principal {
        margin: 0;
        margin-top: 4px;
    }

    a {
        padding: 0;
        margin: 1px;
        font-size: small;
    }

    .grid{
        margin: 0;
        padding: 0;
    }

}

@media(min-width: 1900px){
    body{
        font-size: clamp(1rem, 2vw, 3rem);
    }
}

/* usar la funcion clamp al igual que media querys facilita el responsive design y hace 
que el diseño sea mejor claro que hay otra opcion pero esta es buena, usar rem marca una 
gran diferencia... */